<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

  <system.webServer>
    <urlCompression doDynamicCompression="true"/>
    <!-- 
        IIS는 IIS 관리자를 통해 동적/정적 컨텐츠에 대한 압축 설정이 필요하다.
        IIS Express를 사용하는 경우 다음 항목을 applicationhost.config 파일에 추가해 넣어야 한다.
        (이 파일은 $SolutionDir$\.vs\$SolutionName$\config 폴더에 존재함)

        <httpCompression>
            <scheme name="gzip" dll="%IIS_BIN%\gzip.dll" />
        </httpCompression>
    -->
    <httpCompression>
      <dynamicTypes>
        <clear />
        <add enabled="true" mimeType="text/xml"/>
        <add enabled="false" mimeType="*/*" />
      </dynamicTypes>
    </httpCompression>
  </system.webServer>

  <appSettings>
    <add key="ConfigurationFileName" value="NeoDEEX.server.config"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="commonBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <foxAuthentication allowAnonymous="false" />
        </behavior>
        <behavior name="anonymousBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <foxAuthentication allowAnonymous="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <!-- FoxServiceHostFactory 설정하는 예제 -->
        <add service="WcfServiceWeb.WcfService;netHttp" relativeAddress="WcfService1.svc"
              factory="TheOne.ServiceModel.Activation.FoxServiceHostFactory"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    <bindings>
      <basicHttpBinding>
        <binding name="defaultBinding" maxReceivedMessageSize="104857600" />
      </basicHttpBinding>
      <netHttpBinding>
        <binding name="fastBinding" maxReceivedMessageSize="104857600" />
      </netHttpBinding>
      <customBinding>
        <binding name="customCompressBinding">
          <gzipMessageEncoding innerMessageEncoding="textMessageEncoding" mode="enabled" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <add name="foxAuthentication" type="TheOne.ServiceModel.FoxAuthenticationBehavior, TheOne.ServiceModel.4.5, Version=4.5.0.0, Culture=neutral, PublicKeyToken=6895727a3cc10e00"/>
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="gzipMessageEncoding" type="TheOne.ServiceModel.FoxGZipMessageEncodingElement, TheOne.ServiceModel.4.5, Version=4.5.0.0, Culture=neutral, PublicKeyToken=6895727a3cc10e00"/>
      </bindingElementExtensions>
    </extensions>
  </system.serviceModel>
</configuration>
