<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="ConfigurationFileName" value="neodeex.client.config"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!-- 바인딩 맵에서 참조할 WCF 바인딩 설정 -->
        <binding name="httpBinding">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>