<?xml version="1.0" encoding="utf-8" ?>
<theone.configuration xmlns="http://schema.theonetech.co.kr/fx/config/2011/04/">
	<database defaultConnectionString="LocalDB">
		<connectionStrings>
			<add name="LocalDB" type="TheOne.Data.SqlClient.FoxSqlDbAccess"
					 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='|DataDirectory|\TestLocalDB.mdf';Integrated Security=True;" />
		</connectionStrings>
	</database>
	<service>
		<bizService>
			<diagnostics loggerName="ServiceLog"/>
			<modules>
				<module name="ServiceWebApp"/>
			</modules>
		</bizService>
	</service>
	<logging filter="Verbose">
		<loggers>
			<logger name="ServiceLog" providerType="TheOne.Diagnostics.Loggers.FoxTextFileLoggerProvider">
				<property name="filePrefix" value="ServiceLog"/>
				<property name="directory" value="~/Logs"/>
				<property name="creation" value="None"/>				
			</logger>
		</loggers>
	</logging>
</theone.configuration>
