
@{
    ViewBag.Title = "CORS Fox Biz Service Client";
}

<h2><img src="~/Images/neodeex.png" style="align-content:center" />&nbsp;Cross-Doamin Request to Fox Biz Service Example</h2>

<div>
    <p>
        CORS(Cross-Origin Resource Sharing)를 지원하지 않는 Fox Biz Service 호출. Cross-Domain 문제로 인해 서비스 호출이 실패 합니다.<br />
        <input type="button" value="Non-CORS Biz Service 호출" onclick="sendRequest('http://localhost:7505/api/bizservice', 'result1')" />
        <span id='result1' style="font-weight: bold"></span>
<p />
    <ul>
        <li>Fox Biz Service는 기본적으로 CORS를 지원하지 않습니다.</li>
        <li>따라서, Fox Biz Service 자바 스크립트 클라이언의 Cross-Domain(cross-site) XmlHttpRequest 요청이 실패 합니다.</li>
    </ul>
    <hr />
    <p>
        CORS를 지원하는 Fox Biz Service 호출. 서비스 호출이 성공합니다.<br />
        <input type="button" value="CORS Biz Service 호출" onclick="sendRequest('http://localhost:7505/api/cors/bizservice', 'result2')" />
        <span id='result2' style="font-weight: bold"></span>
    <p />
</div>

<script src="~/Scripts/FoxRestClient.js"></script>
<script>
    // BIZ 서비스 호출
    function sendRequest(serviceUrl, resultElementName) {
        var client = new FoxRestBizClient(serviceUrl);
        var request = new FoxBizRequest();
        request.classId = "ServiceWeb.Biz.BizClass";
        request.methodId = "Echo"
        request.parameters.str = "test message";
        client.execute(request,
            function (response) {
                var element = document.getElementById(resultElementName);
                element.innerText = response.result.value;
            },
            function (errorInfo) {
                var element = document.getElementById(resultElementName);
                if (errorInfo != null) {
                    element.innerText = "Error: " + errorInfo.Message;
                }
            });
    }
</script>
