<?xml version="1.0" encoding="utf-8" ?>
<theone.configuration  xmlns="http://schema.theonetech.co.kr/fx/config/2011/04/">
  <service>
    <bizService>
      <!-- 비즈 서비스 로거 이름 명시-->
      <diagnostics loggerName="BizServiceLog" />
      <!-- 비즈 모듈 목록 등록 -->
      <modules>
        <!-- .dll 확장자를 제외한 어셈블리 파일 이름을 명시합니다. -->
        <module name="BizModule" />
      </modules>
    </bizService>
  </service>
  <logging>
    <loggers>
      <!-- 비즈 서비스를 위한 로거 설정 -->
      <logger name="BizServiceLog" filter="Verbose" providerType="TheOne.Diagnostics.Loggers.FoxTextFileLoggerProvider">
        <property name="FilePrefix" value="BizService" />
        <property name="Directory" value="C:\Temp" />
        <property name="Creation" value="Daily" />
      </logger>
    </loggers>
  </logging>
</theone.configuration>
