<?xml version="1.0" encoding="utf-8" ?>
<theone.configuration xmlns="http://schema.theonetech.co.kr/fx/config/2011/04/">
	<service defaultAddress="Default">
		<addresses>
			<address name="Default" baseUrl="https://localhost:44390/api/bizservice" />
		</addresses>
	</service>
</theone.configuration>
