<?xml version="1.0" encoding="utf-8" ?>
<theone.configuration  xmlns="http://schema.theonetech.co.kr/fx/config/2011/04/">
  <database defaultConnectionString="SQLSERVER">
    <connectionStrings>
      <add name="SQLSERVER" type="TheOne.Data.SqlClient.FoxSqlDbAccess" encrypted="true"
           connectionString="9CCKAmwV2ylQdDIbCbZ1yEqLtBMe91a50CPWLs1hSg63Jr4eSTdUkl2ZzSmNfdAQV7NtLTz/BsWl+dFNKO2HUGPNiN3SLb9g9tcotsmdyzU=" />
    </connectionStrings>
    <!--
    <queryMappers>
      <queryMapper name="SQLSERVER">
        <queryMaps>
          <directories>
            <directory path="./Query" includeSubdirectories="true"/>
          </directories>
        </queryMaps>
      </queryMapper>
    </queryMappers>
    -->
  </database>
  <logging>
    <loggers>
      <logger name="WcfServiceWeb" providerType="TheOne.Diagnostics.Loggers.FoxTextFileLoggerProvider" filter="Verbose">
        <property name="Directory" value="~/App_Data"/>
        <property name="FilePrefix" value="WcfServiceWeb"/>
      </logger>
    </loggers>
  </logging>
</theone.configuration>